# Airline passenger satisfaction prediction

## Import libraries

In [112]:
import gdown 
import zipfile
from tqdm import tqdm
from dotenv import load_dotenv

import pandas as pd
import mlflow

## Connect to mlflow local server

In [113]:
experiment_name = 'Airline Satisfaction Prediction'

In [114]:
mlflow.set_tracking_uri("http://localhost:80")

In [115]:
experiment = mlflow.get_experiment_by_name(experiment_name)

In [116]:
if experiment is None:
    experiment_id = mlflow.create_experiment(experiment_name)
else:
    experiment_id = experiment.experiment_id

In [117]:
is_active_run = mlflow.active_run()

if not is_active_run:
    mlflow.start_run(experiment_id=experiment_id, run_name="MLP Airline")

## Download datase

In [118]:
id = "1ICvNXbJQROVfH_tiGV4m7hxNuyjpU9Pb"
dataset_dir = "./dataset/dataset-airline.zip"

!mkdir -p dataset

gdown.download(id=id, output=dataset_dir, quiet=False)
zip_ref = zipfile.ZipFile(dataset_dir, 'r')
zip_ref.extractall("./dataset/")
zip_ref.close()

Downloading...
From: https://drive.google.com/uc?id=1ICvNXbJQROVfH_tiGV4m7hxNuyjpU9Pb
To: /Users/joserodrigues/Documents/ML-DL-projects/Mlflow/first-project/src/dataset/dataset-airline.zip
100%|██████████| 2.84M/2.84M [00:00<00:00, 26.8MB/s]

## Dataset exploration

In [119]:
train_dir = "./dataset/train.csv"
test_dir = "./dataset/test.csv"
df_train = pd.read_csv(train_dir)
df_test = pd.read_csv(test_dir)

In [120]:
df_train['set'] = 'train'
df_test['set'] = 'test'

df_combined = pd.concat([df_train, df_test], ignore_index=True)

In [121]:
mlflow.log_artifact(train_dir)

### Get dataset information

In [122]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 26 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   id                                 129880 non-null  int64
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
 24  satisfaction                       129880 non-null  object
 25  set                                129880 non-null  object
dtypes: float64(1), int64(19), object(6)
memory usage: 25.8+ MB

In [123]:
df_combined.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,set
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,4,3,4,4,5,5,25,18.0,neutral or dissatisfied,train
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,5,3,1,4,1,1,6.0,neutral or dissatisfied,train
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,4,3,4,4,4,5,0,0.0,satisfied,train
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,5,3,1,4,2,11,9.0,neutral or dissatisfied,train
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,4,4,3,3,3,0,0.0,satisfied,train

In [124]:
df_combined.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,44158.700000,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,31207.377062,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16234.750000,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,38963.500000,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,71433.250000,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

### Check if there are null values

In [125]:
df_combined.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
set                                    0
dtype: int64

In [ ]:
mlflow.end_run()